<!-- 1. make this a partial view for "Search"
2. Set @search_results
3. Iterate over each search result and display it in the partial. -->

<%= form_with model: ingredient_list_item_item do |form| %>

<%= form.fields_for :ingredients do |form2| %>

  <div class="mb-3">
    <%= form2.label :name, "Name:" %>
    <%= form2.text_field :name %>
    <%= form2.button "Search", class: 'btn btn-secondary' %>
  </div>

  <% if @ingredient %>
    <h5>Search Results</h5>
    <ul>
      <li>
        Name: <%= @ingredient.name %>; ID: <%= @ingredient.id %>
      </li>
    </ul>
  <% end %>
<% end %>

  <div class="mb-3">
    <label for="ingredient_list_item_item_ingredient_id">Ingredient ID</label>
    <%= form.number_field :ingredient_id, class: 'form-control' %>
    <% ingredient_list_item_item.errors.full_messages_for(:ingredient_id).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
    <% end %>
  </div>
  <div class="form-check">
    <%= form.check_box :checked, class: 'form-check-input' %>
    <%= form.label :checked, class: 'form-check-label' %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: 'form-control' %>
    <% ingredient_list_item_item.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
    <% end %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
