<h1>Ingredient List Item</h1>
<p><%= "Checked; " if @ingredient_list_item.checked %></p>
<p><%= @ingredient_list_item.quantity %> <%= @ingredient_list_item.unit %> <%= @ingredient_list_item.ingredient %></p>
<p>Recipe ID: <%= @ingredient_list_item.recipe_id %></p>

<%= link_to 'Edit', edit_ingredient_list_item_path(@ingredient_list_item), class: "btn btn-primary", role: "button" %>
