<%= form_with url: "/search/ingredient_lists", method: :get do |form| %>
  <%= form.label :query, "Ingredient Search:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<h5>Search Results</h5>
<% if @ingredients %>
<ul>
    <% @ingredients.each do |ingredient| %>
    <li>
        Name: <%= ingredient.name %>; ID: <%= ingredient.id %>
    </li>
    <% end %>
</ul>
<% end %>