<h1><%= @recipe.name %></h1>
<% if @recipe.image %>
<%= image_tag url_for(:recipe => "recipe", :action => "show_image") %>
<% end %>
<p><%= @recipe.short_description %></p>
<h3>Ingredients</h3>
<% @recipe.ingredient_list_items.each do |ingredient_list_item| %>
    <p><%= ingredient_list_item.quantity %> <%= ingredient_list_item.ingredient.name %></p>
<% end %>
<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>
<% if @recipe.long_description && @recipe.long_description.length > 0 %>
<h3>About This Recipe</h3>
<p><%= @recipe.long_description %></p>
<% end %>

<%= link_to 'Edit this Recipe', edit_recipe_path(@recipe), class: "btn btn-primary", role: "button" %>
