<% # I tried to use path_recipe but it resolves to /recipes/ which is wrong. %>
<%= form_with scope: :recipe, url: recipe_path(@recipe) do |form| %>
<div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
    <% recipe.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
    <% end %>
</div>
<div class="mb-3">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg', class: 'form-control-file' %>
</div>
<div class="mb-3">
    <%= form.label :short_description %>
    <%= form.text_area :short_description, class: 'form-control' %>
    <% recipe.errors.full_messages_for(:short_description).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
    <% end %>
</div>
<div class="mb-3">
    <%= form.label :ingredient %>
    <%= form.text_area :ingredient, class: 'form-control' %>
    <% recipe.errors.full_messages_for(:ingredient).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
    <% end %>
</div>
<div class="mb-3">
    <%= form.label :instructions %>
    <%= form.text_area :instructions, class: 'form-control', rows: 6 %>
    <% recipe.errors.full_messages_for(:instructions).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
    <% end %>
</div>
<div class="mb-3">
    <%= form.label :long_description %>
    <%= form.text_area :long_description, class: 'form-control', rows: 6 %>
</div>
<div class="form-check">
    <%= form.check_box :license_status, class: 'form-check-input' %>
    <!--input type="checkbox" class="form-check-input" id="check1"-->
    <label class="form-check-label" for="check1">I attest that this recipe is of my own creation or is in the public domain. Furthermore, I release this work under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons - Attribution 4.0 License</a> (<a href="https://creativecommons.org/licenses/by/4.0/">license summary</a>).</label>
</div>

<%= form.submit class: 'btn btn-primary' %>

<% end %>